<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{494, 524}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>Shoot.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228, 228}</string>
            <key>spriteOffset</key>
            <string>{0, -0}</string>
            <key>spriteSourceSize</key>
            <string>{228, 228}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {228, 228}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2, 2}, {228, 228}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_00.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2, 232}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_01.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{132, 232}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_02.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{232, 2}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_03.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{262, 132}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_04.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{362, 2}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_05.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{262, 262}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_06.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{2, 362}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_07.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{132, 362}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>main_shoot_08.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128, 128}</string>
            <key>spriteOffset</key>
            <string>{0, 0}</string>
            <key>spriteSourceSize</key>
            <string>{128, 128}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0, 0}, {128, 128}}</string>
            <key>spriteTrimmed</key>
            <false/>
            <key>textureRect</key>
            <string>{{262, 392}, {128, 128}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
